:root {
    font-family: 'Inter', sans-serif;
    --blue-green: #28696A;
    --hover-green: #1f5152;
    --blue: #213058;
    --hover-blue: #2e4174;
    --old-white: #F0E6D7;
    --mustard: #F4AE3F;
    --hover-mustard: #eea125;
    --black: #101010;
    --grey: #eeeeee;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 2rem;
    margin: 0;
    padding: 1rem 2rem;
    background-color: var(--blue-green);
    color: var(--old-white);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
}

.contenedor-membrete {
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    align-items: center;
}

.contenedor-membrete h1 {
    font-size: .9rem;
    font-weight: 600;
}

.contenedor-membrete img {
    height: 3rem;
}

.contenedor-enlaces {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.btn-acceso {
    text-decoration: none;
    border-radius: 1rem;
    /*background-color: var(--mustard);
    color: var(--black); */
    background-color: var(--old-white);
    color: var(--black);
    padding: .5rem 1rem;
    font-size: .7rem;
    font-weight: 600;    
}

.contenedor-enlaces a i {
    padding: .5rem 0rem;
    /*color: var(--mustard); */
    color: var(--old-white);
    align-items: center;
    align-content: center;
}

.btn-acceso:hover {
    background-color: var(--mustard);
    color: var(--old-white);
    /*background-color: var(--old-white);
    color: var(--black); */
}

.contenedor-enlaces a i:hover {
    /*color: var(--old-white);*/
    color: var(--mustard)
}

@media (max-width: 650px) {
    header {
        justify-content: space-between;
        align-items: center;
    }
    .intilogo {
        display: none;
    }
    .aplogo {
        justify-content: flex-start;
        align-items: center;
    }
    .bx {
        display: none;
    }
    .btn-acceso
     {
        justify-content: flex-end;
     }
}


/* Cuerpo */

.perfil {
    width: 100%;
    display: flex-box;
    position: relative;
    padding-bottom: .5em;
    /* border-bottom: 2px dashed var(--blue-green); */
}

.contenedor-portada img {
    width: 100%;
    height: 20em;
    display: inline-block;
}

.contenedor-icono img {
    top: 14.5em;
    left: 3em;
    position: absolute;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: var(--grey);
    border: 5px solid white;
}

.contenedor-resumen {
    margin-left: 15em;
    color: var(--black);
    line-height: .8em;
}

@media (max-width: 580px) {
    .contenedor-resumen, .experiencia, .educacion {
        line-height: 1em;

    }
}

.contenedor-resumen h1 {
    /* font-size: 1.2rem; */
    font-weight: 600;
}

.contenedor-resumen p {
    /* font-size: .9rem; */
    font-size: 1rem;
    font-weight: 400;
}
/*
@media (max-width: 650px) {
    .perfil {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .contenedor-icono img {
        left: 33.3333%;

    }
    .contenedor-resumen {
        margin-left: 0;
        margin-top: 6em;
        text-align: center;
    }
} */
@media (max-width: 650px) {
    .perfil {
        display: inline-block;
    }
} 
@media (max-width: 420px) {
    .perfil {
        display: inline-block;
    }
    .contenedor-icono img {
        left: 31%;

    }
    .contenedor-resumen {
        margin-left: 0;
        margin-top: 6em;
        text-align: center;
    }
} 
@media (max-width: 420px) {
    .perfil {
        display: inline-block;
    }
    .contenedor-icono img {
        left: 26%;

    }
    .contenedor-resumen {
        margin-left: 0;
        margin-top: 6em;
        text-align: center;
    }
} 
/*
@media only screen and (min-width: 320px) {
    .perfil {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .contenedor-icono img {
        left: 22.5%;

    }
    .contenedor-resumen {
        margin-left: 0;
        margin-top: 6em;
        text-align: center;
    }
} */
@media (max-width: 390px) {
    .perfil {
        display: inline-block;
    }
    .contenedor-icono img {
        left: 29%;
    }
    .contenedor-resumen {
        margin-top: 6em;
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 393px) {
    .perfil {
        display: inline-block;
    }
    .contenedor-icono img {
        left: 25%;
    }
    .contenedor-resumen {
        margin-top: 6em;
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 375px) {
    .perfil {
        display: inline-block;
    }
    .contenedor-icono img {
        left: 23%;
    }
    .contenedor-resumen {
        margin-top: 6em;
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 360px) {
    .perfil {
        display: inline-block;
    }
    .contenedor-icono img {
        left: 21%;
    }
    .contenedor-resumen {
        margin-top: 6em;
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 280px) {
    .perfil {
        display: inline-block;
    }
    .contenedor-icono img {
        left: 20%;

    }
    .contenedor-resumen {
        margin-left: 0;
        margin-top: 6em;
        text-align: center;
    }
} 

.sobre-mi {
    padding: 1em 4.5em;
    border-bottom: 2px dashed var(--blue-green); 
}

.sobre-mi h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.sobre-mi p {
    font-size: 1rem;
    font-weight: 400;
    padding-left: 2em;
    line-height: 1.5em;
}

.experiencia {
    padding: 1em 4.5em;
    border-bottom: 2px dashed var(--blue-green);
}

.contenedor-experiencia {
    display: inline-block;
}

.trabajo {
    padding: 1em 1.5em;
    display: flex;
}

.trabajo i {
    padding-right: 1em;
}

.info-puesto {
    line-height: 1em;
}

.info-puesto h4 {
    font-weight: 400;
    color: rgb(78, 78, 78);
}

.experiencia h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.educacion {
    padding: 1em 4.5em;
    /* border-bottom: 2px dashed var(--blue-green); */
}

.contenedor-edu {
    display: inline-block;
}

.edu {
    padding: 1em 1.5em;
    display: flex;
}

.edu i {
    padding-right: 1em;
}

.info-edu {
    line-height: 1em;
}

.info-edu h4 {
    font-weight: 400;
    color: rgb(78, 78, 78);
}

.educacion h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.proyectos {
    padding: 1em 4.5em;
    /* border-bottom: 2px dashed var(--blue-green); */
    background-color: var(--blue-green);
    color: white;
    /* border-top: 2px dashed white; */
}

.proyectos h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.contenedor-proy {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1em;
    padding-bottom: 1em;
}

.proy a {
    display: inline-block;
    background-color: white;
    border-radius: 1em;
    padding: 1em 1em;  
    overflow: hidden;  
    text-decoration: none;
    transition: box-shadow 0.3s ease;
    height: 15em;
}

.preview img {
    height: 12em;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1em;
    align-items: center;
    flex-wrap: nowrap;
}

.proy a h3 {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    color: var(--black);
    overflow: hidden;
} 

.proy a:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 0.3rem 0.4rem .4rem rgba(0, 0, 0, 0.3);
}

.proy a h3:hover {
    text-decoration: none;
    color: var(--mustard);
}

.proy a h3:visited {
    text-decoration: none;   
    color: var(--black);
}

@media (max-width: 1024px) {
    .contenedor-proy {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 912px) {
    .contenedor-proy {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width: 540px) {
    .contenedor-proy {
        display: inline-block;
    }
    .proy {
        margin: .5em;
    }
}

.skills {
    padding: 1em 4.5em;
    color: var(--black);
    box-sizing: border-box;
}

.skills h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.contenedor-skills {
    /* min-height: 100vh; */
    padding: 20px; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 1em;
}

.block {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    border-radius: 50%;
    background-color: var(--blue-green);
    box-shadow: 0 0 5px 3px var(--hover-green);
}

.box::before {
    position: absolute;
    content: '';
    width: calc(100% + 28px);
    height: calc(100% + 28px);
    border: 1px solid #353535;
    border-radius: 50%;
}

.box .number span {
    color: var(--grey);

}

.box .number .num {
    font-size: 35px;
    font-weight: bold;

}

.number {
    margin: 0;
    padding: 0;
}

.box .number .sub {
    font-size: 20px;
}

.title { 
    margin: 0;
    padding: 0;
}

.box .title {
    font-size: 15px;
    color: var(--old-white)
}

.dots {
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 2s transform, 2s opacity ease;
}

.dots::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 5px;
    left: 50%;
    border-radius: 50%;
    background-color: var(--grey);
    box-shadow: 0 0 5px 2px #b3b3b3;
    transform: translateX(-50%);
}

.svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: none;
    transform: rotate(-90deg);
}

.circle {
    stroke: url(#gradientStyle);
    stroke-width: 4px;
    stroke-dasharray: 503;
    stroke-dashoffset: 503;
    /* animation: animationCircle 2s linear forwards; */
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: 2s stroke-dashoffset;
}

.value-container {
    position: relative;
    font-size: 1.5em;
    font-weight: 400;
    color: var(--black);
}

@media (max-width: 1024px) {
    .contenedor-skills {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 912px) {
    .contenedor-skills {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 540px) {
    .contenedor-skills {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 510px) {
    .contenedor-skills {
        /* margin: 0;
        padding-left: 0; */
        display: inline-block;
        padding-left: 2em;
    }
}

@media (max-width: 280px) {
    .contenedor-skills {
        /* margin: 0;
        padding-left: 0; */
        display: inline-block;

    }
}

@media (max-width: 653px) {
    .contenedor-skills {
        grid-template-columns: 1fr 1fr;
        gap: 0;
        margin: 0;
        padding: 0;
    }
}

footer {
    padding: 1em 1em;
    background-color: var(--blue-green);
    color: var(--old-white);
    display: grid;
    grid-template-rows: auto auto;
    gap: 1.5em;
}

footer a, p {
    font-size: .9rem;
    font-weight: 400;
}

.contenedor-pie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.contenedor-pie a {
    display: block;
    text-decoration: none;
    color: var(--old-white);
}

.contenedor-pie a:hover {
    color: var(--mustard);
}

.navegacion a {
    padding-left: 1.5em;
    align-items:center;
    display: flex;
    line-height: .5em;
}

.navegacion a i {
    padding-right: .5em;
}

.contacto a {
    padding-left: 1.5em;
    align-items:center;
    display: flex;
    line-height: .5em;
}

.contacto a i {
    padding-right: .5em;
}

.info {
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 650px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contenedor-pie {
        display:inline-flex;
        justify-content: center;
        justify-items: center;
    }
    .navegacion {
        display: none;
    }
    .contacto a {
        padding-left: 0;
    }
    .contacto a i {
        display: flex;
        padding-right: .5em;
    }
}